doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Wilson 416 Photography

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.clearfix
            .container
                .intro
                    img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/intro.jpg', alt='...')
                    .intro-text.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper Current Events
                            span.section-heading-lower Captured
                        p.mb-3
                            | Getting THE shot that tells the story & making an impact on a global level through image making, creating and capturing the events of our times.

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-4
                                span.section-heading-upper Awards
                                span.section-heading-lower Recognition
                            p.mb-0
                                | CAPIC (Toronto, Canada)
                            p.mb-0
                                | 1. “The Last Performance” Red Skelton Portrait /  Silver Medal; This hung on the set of a beloved American Sitcom for an entire season
                            p.mb-0
                                | 2. “The Flood” captured on a moving bus in Venezuela / A Bronze Medal
                            p.mb-0
                                | 3. Letter From HM Queen Elizabeth ll in recognition of a photo of her at The Golden Jubilee Canadian tour.

        include includes/footer

        include includes/scripts
