doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Wilson 416 Photography

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper State Funeral
                                span.section-heading-lower David Charles Onley C.M. O.Ont.
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/portfolio-08.jpg' alt='...')

        include includes/footer

        include includes/scripts
